<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>

    <h2>En estos momentos, disponemos de los siguientes anuncios:</h2>
    <div class="anuncios">
      <% anuncios.forEach( anuncio => { %>
      <div class="anuncio">
        <header><h3> <%= anuncio.nombre %> </h3></header>
      <% if (anuncio.venta) { %> 
        <p>Producto a la venta</p>
      <% } else { %>
        <p>Producto deseado</p>
      <% } %>
      <div class="img">
        <img src="/public/images/<%=anuncio.foto %>" alt="" style="max-width: 300px; max-height: 300px;">
      </div>
      <p class="price">Precio: <span class="price-number"><%= anuncio.precio %></span> €</p>
        <div class="tags">
        <% anuncio.tags.forEach( tag => { %>
          <p><%= tag %></p>
        <% }); %>
        </div>
      </div>
      <% })%>
    </div>
  </body>
</html>
    
